<h1>Dose #<%= @dose.id %></h1>

<p>
  <strong>Description:</strong>
  <%= @dose.description %>
</p>

<p>
  <strong>Ingredient:</strong>
  <%= @dose.ingredient.name %>
</p>

<p>
  <strong>Cocktail:</strong>
  <%= @dose.cocktail.id %> | <%= @dose.cocktail.name %>
</p>

<%= link_to 'Delete', dose_delete_path(@dose),
method: :delete,
data: { confirm: "Are you sure?" } %>
